{% capture _t %}
    {% assign product_name = site.product_name %}
    {% assign product_version = site.product_version %}
    {% assign page_title = page.title %}
    {% assign page_title_with_h1 = '' %}
    {% assign page_id = page.name | replace:'.md','' %}
    {% assign page_content = content %}
    {% capture shortcut_switcher %}
        <div class="shortcuts-switcher"><label for="switch-shortcuts">Keymap:</label><select id="switch-shortcuts" class="select _shortcuts" height="1">
            <option data-group="primary" value="default" selected>Default</option>
            <option data-group="primary" value="default_for_gnome">GNOME</option>
            <option data-group="primary" value="default_for_kde">KDE</option>
            <option data-group="primary" value="default_for_xwin">XWindow</option>
            <option data-group="primary" value="emacs">Emacs</option>
            <option data-group="primary" value="jbuilder">JBuilder</option>
            <option data-group="primary" value="visual_studio">Visual Studio</option>
            <option data-group="primary" value="netbeans_6.5">NetBeans 6.5</option>
            <option data-group="primary" value="eclipse">Eclipse</option>
            <option data-group="secondary" value="mac_os_x_10.5_">OS X 10.5+</option>
            <option data-group="secondary" value="mac_os_x">OS X</option>
            <option data-group="secondary" value="eclipse_mac_os_x">OS X Eclipse</option></select>
        </div>
    {% endcapture %}
    {% assign is_show_shortcut_switcher = 'false' %}
    {% assign current_year = 'now' | date:'%Y' %}
    {% assign last_modified = '' %}
    {% assign disqus = '' %}
    {% assign baseurl = '.' %}

{% endcapture %}
{% capture rendered_content %}{% include page.html %}{% endcapture %}
{{ rendered_content }}